/* Fix to get rid of blue outline on sort*/
.ReactTable .rt-thead [role="columnheader"] {
	outline: 0;
}

@font-face {
   font-family: Burbank;
   src: url("../public/Burbank_Big_Condensed_Black.ttf");
   color: white;
}

#mini-profile {
	border: 3px solid #e8e8e8;
	text-align: center;
}

#maintable {
	border: 10px solid;
}

.react-tabs__tab-list {
  margin: 0;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab--selected {
  background: #a9a9a9;
  border-color: #aaa;
  color: white;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

#nav-bar {
  background-color: rgb(1,9,30);
  height: 60px;
}

#nav-span {
	font-size: 2em;
	margin: 20px;
}

.landLogo {
	height: 50px;
}
