/* Fix to get rid of blue outline on sort*/
.ReactTable .rt-thead [role="columnheader"] {
	outline: 0;
}

@font-face {
   font-family: Burbank;
   src: url("../public/Burbank_Big_Condensed_Black.ttf");
   color: white;
}

#mini-profile {
	border: 3px solid #e8e8e8;
	text-align: center;
}

#maintable {
	border: 10px solid;
}

#access-profile {
	padding: 30px;
	text-align: center;
}

#access-profile-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

#login-profile-button {
	margin-right: 5px
}

#register-profile-button {
	margin-left: 5px
}
.react-tabs__tab-list {
  margin: 0;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab--selected {
  background: #a9a9a9;
  border-color: #aaa;
  color: white;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

#nav-bar {
  background-color: rgb(1,9,30);
  height: 60px;
}

#nav-span {
	font-size: 2em;
	margin: 20px;
}

.landLogo {
	height: 50px;
}

.view-btn:hover, .join-btn:hover, .cancel-btn:hover, .confirm-btn:hover, .new-pool-btn:hover {
  cursor: pointer;
}

.view-btn:hover, .join-btn:hover {
  border: 1px solid green;
  background-color: green;
  color: white;
}

.new-pool-btn {
  border: 1px solid black;
  padding: 0 10px;
  display: inline-block;
}

.new-pool-btn:hover {
  color: white;
  background-color: blue;
  border-color: blue;
}

.view-btn, .join-btn {
  display: inline-block;
  border: 1px solid black;
  padding: 0 10px;
  margin: 0 5px;
}

.cancel-btn {
  display: inline-block;
  border: 1px solid black;
  padding: 0 10px;
  margin: 5px;
}

.confirm-btn {
  display: inline-block;
  border: 1px solid green;
  background-color: green;
  color: white;
  padding: 0 10px;
  margin: 5px;
}

.pull-right {
  float: right;
}

.table-btns {
  text-align: center;
}

.new-pool-field-item {
  display: inline-block;
  margin-right: 10px;
}

.name-field-input {
  border: none;
  border-bottom: 1px solid black;
}

input:focus {
  outline: none;
}

.entry-btn {
  display: inline-block;
  margin: 5px;
  padding: 0 10px;
  width: 75px;
  text-align: center;
}

.entry-btn:hover {
  cursor: pointer;
}

#entry-btn-1 {
  color: green;
  border: 1px solid green;
}

#entry-btn-1-selected {
  color: white;
  border: 1px solid green;
  background-color: green;
}

#entry-btn-1:hover {
  color: white;
  background-color: green;
}

#entry-btn-10 {
  color: blue;
  border: 1px solid blue;
}

#entry-btn-10-selected {
  color: white;
  border: 1px solid blue;
  background-color: blue;
}

#entry-btn-10:hover {
  color: white;
  background-color: blue;
}

#entry-btn-100 {
  color: purple;
  border: 1px solid purple;
}

#entry-btn-100-selected {
  color: white;
  border: 1px solid purple;
  background-color: purple;
}

#entry-btn-100:hover {
  color: white;
  background-color: purple;
}

#entry-btn-1000 {
  color: gold;
  border: 1px solid gold;
}

#entry-btn-1000-selected {
  color: white;
  border: 1px solid gold;
  background-color: gold;
}

#entry-btn-1000:hover {
  color: white;
  background-color: gold;
}
