body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

#main {
	padding: 20px;
}

hr {
	padding: 0;
	margin: 20px 10px;
}

#mini-profile {
	padding: 20px;
}