body {
  margin: 0;
  padding: 0;
  font-family: "Burbank", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 2em;
  background-color: #F5F5F5;
}

#main {
	padding: 20px;
}

hr {
	padding: 0;
	margin: 20px 10px;
}

#mini-profile {
	padding: 20px;
}
